@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

@keyframes hueRotate {
    to {
      filter: hue-rotate(360deg);
    }
}
  
@keyframes colour-1 {
    0% {
      top: 0vh;
      left: 50vw;
    }
    25% {
      left: 0vw;
    }
    50% {
      top: 100vh;
    }
    75% {
      left: 100vw;
    }
    100% {
      top: 0vh;
      left: 50vw;
    }
  }
  
  @keyframes colour-2 {
    0% {
      top: 50vh;
      left: 100vw;
    }
    25% {
      top: 100vh;
    }
    50% {
      left: 0vw;
    }
    75% {
      top: 0vh;
    }
    100% {
      top: 50vh;
      left: 100vw;
    }
  }
  
  @keyframes colour-3 {
    0% {
      top: 100vh;
      left: 50vw;
    }
    25% {
      left: 100vw;
    }
    50% {
      top: 0vh;
    }
    75% {
      left: 0vw;
    }
    100% {
      top: 100vh;
      left: 50vw;
    }
}

* {
    box-sizing: border-box;
}

.aurora {
    position: absolute;
    opacity: 0.75;
}

.colour-1 {
    box-shadow: 0 0 45vmax 45vmax purple;
    animation: hueRotate 10s 0s linear infinite, colour-1 19s 0s linear infinite;
}

.colour-2 {
    box-shadow: 0 0 45vmax 45vmax blue;
    animation: hueRotate 10s 0s linear infinite, colour-1 19s 0s linear infinite;
}

.colour-3 {
    box-shadow: 0 0 45vmax 45vmax red;
    animation: hueRotate 10s 0s linear infinite, colour-1 19s 0s linear infinite;
}

.gallery {
    height: 100%;
}

.gallery-text{ 
    color: white;
}

.gallery-dark {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

html, body {
    background-color: black;
    width: 100%;
    min-height: 100%;
    overscroll-behavior: none;
}

.hex {
    display: block;
    margin: 0 60px;
    position: relative;
    width: 250px;
    height: 216.5px; /* width * 0.866 */
    background: white;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
    position: absolute;
    background-color: orange; /*color of the main-background*/
    top: 2px; /* equal to border thickness */
    left: 2px; /* equal to border thickness */
    width: 246px; /* container height - (border thickness * 2) */
    height: 212.5px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.image-gallery {
    height: 100%;
    background: black;
    display: flex;
    flex-direction: row;
    gap: 2dvw;
    padding: 2dvw;
    box-sizing: border-box;
    overflow: hidden;
}

.image-column {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2dvw;
    position: relative;
}

.image-column:nth-of-type(1) {
    top: -20%;
}

.image-column:nth-of-type(2) {
    top: -65%
}

.image-column:nth-of-type(3) {
    top: -45%
}

.image-column:nth-of-type(4) {
    top: -50%;
}

.image-column:nth-of-type(5) {
    top: -45%;
}

.imageContainer {
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: relative;
    border-radius: 1dvw;
    overflow: hidden;
}

.image-grid {
    transform: rotateZ(1deg);
    perspective: 1000px;
}

.line {
    border-right: 3px solid white;
    height: 100%;
}

.mask {
    background: radial-gradient(transparent, black 90%);
}

.radio {
    appearance: none;
    border: 1.25px solid #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px #fff;
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio:before {
    content: '';
    display: block;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.radio:checked:before {
    background: #beadfa;
}

.react-datepicker-wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    outline: none;
}

.react-datepicker__input-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.react-datepicker__input-container > input {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    outline: none;
    font-size: 9px;
}

@media only screen and (min-width: 640px) {
    .react-datepicker__input-container > input {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    .react-datepicker__input-container > input {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1024px) {
    .react-datepicker__input-container > input {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1536px) {
    .react-datepicker__input-container > input {
        font-size: 18px;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

section > .img {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    z-index: -1;
}

section > .img:nth-of-type(1) {
    background-image: url("assets/images/detailsFeatured1.jpg");
    background-position: center;
}
section > .img:nth-of-type(2) {
    background-image: url("assets/images/train4.jpg");
    background-position: center;
}
section > .img:nth-of-type(3) {
    background-image: url("assets/images/train2.jpg");
    background-position: center;
}
section > .img:nth-of-type(4) {
    background-image: url("assets/images/train18.jpg");
    background-position: center;
}
section > .img:nth-of-type(5) {
    background-image: url("assets/images/processMain3.jpg");
    background-position: center;
}
section > .img:nth-of-type(6) {
    background-image:url("assets/images/facecardImageRaw8.jpg");
    background-position: center;
}
section > .img:nth-of-type(7) {
    background-image: url("assets/images/facecardImageRaw5.jpg");
}
section > .img:nth-of-type(8) {
    background-image: url("assets/images/makeupwork6.jpg");
    background-position: center;
}
section > .img:nth-of-type(9) {
    background-image: url("assets/images/runwaywork7.jpg");
    background-position: center;
}

section > .img:before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    border-right: 1px solid black;
}