@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nohemiBlack;
    src: url(/assets/fonts/Nohemi-Black.ttf);
}

@font-face {
    font-family: nohemiBold;
    src: url(/assets/fonts/Nohemi-Bold.ttf);
}

@font-face {
    font-family: nohemiSemiBold;
    src: url(/assets/fonts/Nohemi-SemiBold.ttf);
}

@font-face {
    font-family: nohemiMedium;
    src: url(/assets/fonts/Nohemi-Medium.ttf);
}

@font-face {
    font-family: nohemiRegular;
    src: url(/assets/fonts/Nohemi-Regular.ttf);
}

@font-face {
    font-family: nohemiLight;
    src: url(/assets/fonts/Nohemi-Light.ttf);
}

@font-face {
    font-family: nohemiExtraLight;
    src: url(/assets/fonts/Nohemi-ExtraLight.ttf);
}

@font-face {
    font-family: nohemiThin;
    src: url(/assets/fonts/Nohemi-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
}

html, body {
    overscroll-behavior-x: none;
}

body {
    color: black;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    user-select: none;
    background-color: white;
}

.contactOverlay {
    clip-path: circle(0%);
}

.cursor {
    user-select: none;
    pointer-events: none;
}

input::selection {
    color: none;
    background: none;
}

.loader {
    transition: all;
    transition-duration: 0.5s;
}

section {
    overflow-x: hidden;
}

.stretch {
    font-stretch: ultra-expanded;
}